@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.purchase-container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 2.5rem 1.25rem;
  font-family: "Roboto", sans-serif;
  color: #f3f3f3;
}

.game-details {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  /* background-color: #ffffff; */
  border-radius: 1.25rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  padding: 1.8rem; 
  font-family: "Roboto", sans-serif;
}

.game-image {
  flex: 1;
  max-width: 100%;
  /* min-width: 300px;
  max-width: 500px; */
  height: 100%;
  border-radius: 0.9rem; 
  object-fit: cover;
  width: 100%;
}

.game-info {
  flex: 1;
  min-width: 17.5rem; 
  font-family: "Roboto", sans-serif;
}

.game-title {
  font-size: 2.4rem;
  font-weight: 800;
  margin-bottom: 0.6rem; 
}

.game-description {
  font-size: 0.9rem;
  margin-bottom: 1.2rem; 
  color: #f3f3f3;
}

.game-more-info p {
  margin: 0.3rem 0; 
  font-size: 0.8rem; 
  color: #f3f3f3;
}

.game-price {
  font-size: 1.5rem; 
  font-weight: 700;
  margin: 1.2rem 0; 
}

.buy-button {
  background-color: #0033cc;
  color: white;
  padding: 0.6rem 3.1rem;
  border: none;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 0.6rem; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buy-button:hover {
  background-color: #001f99;
}

.purchase-note {
  font-size: 0.75rem; 
  color: #8e8c8c;
  margin-top: 0.4rem; 
}

.suggested-heading {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: -0.6rem; 
  text-align: center;
  margin-bottom: 1.25rem;
}

.suggested-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.loading-purchase-text {
  text-align: center;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.loading-msg {
  text-align: center;
  margin-top: 3.1rem; 
  font-size: 1.1rem; 
  color: #666;
}

@media (max-width: 767px) {
  .game-details {
    flex-direction: column;
    padding: 1.25rem; 
    gap: 1.25rem; 
  }

  .game-title {
    font-size: 1.5rem;
    text-align: center;
  }

  .game-desc,
  .game-more-info p,
  .game-price {
    font-size: 0.8rem; 
    text-align: center;
  }

  .buy-button {
    width: 100%;
    padding: 0.75rem 0; 
    font-size: 1rem;
  }

  .game-image {
    max-height: 15rem; 
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .game-details {
    flex-direction: column;
    padding: 1.8rem; 
    gap: 1.8rem;
  }

  .game-title {
    font-size: 1.75rem; 
    text-align: center;
  }

  .game-description,
  .game-more-info p,
  .game-price {
    font-size: 0.9rem;
    text-align: center;
  }

  .buy-button {
    width: 60%;
    font-size: 1.1rem;
    padding: 0.7rem 0; 
    margin: 0 auto;
    display: block;
  }

  .game-image {
    max-height: 18rem; 
  }
}
