.category-card {
  width: 200px;
  text-align: center;
  margin: 10px;
  cursor: pointer; /* ← This makes the cursor a hand */
}

.category-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.genre-cover-container {
  width: 100%;
  margin-bottom: 20px;
}

.genre-cover-image {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  /* border-radius: 8px; */
}
