@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.account-title {
    font-size: 2rem;
    margin-left: 6rem;
    font-family: "Raleway", sans-serif;
}

.signup-state{
    font-size: 1rem;
    margin-left: 6rem;
}

.profile-sign-up {
    margin-left: 6rem;
  padding: 15px;
  font-size: 1rem;
  background-color: #2156f2;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Roboto", sans-serif;
}

.user-display {
  display: flex;
  align-items: center;   
  gap: 1.5rem;          
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-details p {
 margin: 0;
}

.user-icon {
    max-width: 4rem;
    max-height: auto;
    margin-left: 6rem;
}