.account-title {
    font-size: 2rem;
    margin-left: 6rem;
}

.user-display {
  display: flex;
  align-items: center;   
  gap: 1.5rem;          
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-details p {
 margin: 0;
}

.user-icon {
    max-width: 4rem;
    max-height: auto;
    margin-left: 6rem;
}