@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.both {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem; 
  margin: 1rem auto; 
  padding: 0 1rem;
  margin-top: 0;
}

.All-games {
  max-width: 1500px;
  margin-top: -2rem;
  margin-bottom: 0.8rem;
  margin-left: 1.8rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
}

.Category-title{
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 0rem;
}

.discount-games {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin: 0; 
  padding: 0;
}

.discount-game {
  position: relative;
  text-align: center;
}

.discount-badge {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #004AAD; 
  color: white;
  padding: 7px 15px;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  z-index: 1;
}

.discount-game-image {
  width: 35rem;
  border-radius: 1.3rem;
  height: 14rem;
}

.discount-game-image:hover {
 box-shadow: 0 4px 15px rgba(255, 255, 255, 0.256); 
}

.discount-game p {
  margin-top: 0.5rem;
  font-size: 1rem;
}

.Platforms {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 0; 
  padding: 0;
}

.card {
  width: 200px;
  text-align: center;
  cursor: pointer;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.button {
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button:hover {
  transform: scale(1.05);
}

.available-cards {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  max-width: 1500px;
  margin-top: 2rem;
}

.available-card {
  max-width: 30rem;
}

.app-footer {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  gap: 1rem
}

.social-media-icon {
  max-width: 4rem;
  max-height: auto;
  cursor: pointer;
}

.copyright {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

@media (max-width: 767px) {
  .All-games,
  .Category-title {
    font-size: 1rem;
    text-align: center;
    margin-left: 0;
  }

  .discount-game-image {
    width: 100%;
    height: auto;
    align-items: center;
  }

  .discount-badge {
    font-size: 0.8rem;
    padding: 5px 10px;
  }

  .card {
    width: 150px;
  }

  .social-media-icon {
    max-width: 3rem;
  }

  .copyright {
    font-size: 0.9rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .All-games,
  .Category-title {
    font-size: 1.1rem;
    text-align: center;
    margin-left: 1rem;
  }

  .discount-game-image {
    width: 28rem;
    height: 12rem;
  }

  .discount-badge {
    font-size: 0.9rem;
  }

  .card {
    width: 170px;
  }

  .social-media-icon {
    max-width: 3.5rem;
  }
}

