.clickable {
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.clickable:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.discount-game {
  margin: 1rem;
  border-radius: 8px;
}

.discount-game-image {
  width: 400px; 
  border-radius: 10px; 
}

.discount-games {
  display: flex;
  gap: 1rem; 
  margin-bottom: 2rem;
  flex-wrap: wrap; 
}