@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.landpage {
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  text-align: center;
  padding: 1rem; 
  box-sizing: border-box;
}

.landpage-title {
  justify-content: center;
  display: flex;
  gap: 1rem;
}

.landpage-heading {
  font-family: "Raleway", sans-serif;
}

.landpage-image {
  max-width: 4.3rem;
  max-height: 4.3rem;
}

.landPage-buttons {
  display: flex;
  gap: 1rem;
}

.design-images{
  position: absolute;
  bottom: 1rem;
  display: flex;
  gap: 45rem;
  opacity: 0.2; 
  pointer-events: none; 
}

.design-image {
  width: 40rem;
  height: auto;
}

.terms-and-conditions {
  margin-top: 2rem;
}

.terms-and-conditions p {
  font-family: "Roboto", sans-serif;
}

.sign-up-btn {
  margin-top: 1rem;
  padding: 0.9rem 1.25rem;
  font-size: 1rem;
  background-color: #004AAD;
  color: white;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.sign-up-btn:hover {
  background-color: #1a47c9;
}

.skip-btn {
  margin-top: 1rem;
  padding: 0.9rem 1.25rem;
  font-size: 1rem;
  background-color: #717F92;
  color: white;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.skip-btn:hover {
  background-color: #4d5663;
}

.cors-text {
  color: #1a47c9;
}

@media (max-width: 767px) {
  .landpage-heading {
    font-size: 1.8rem;
  }

  .landpage-image {
    max-width: 3rem;
    max-height: 3rem;
  }

  .design-images {
    /* gap: 2rem;
    flex-direction: column;
    align-items: center; */
     display: none;
  }

  .design-image {
    width: 20rem;
  }

  .landPage-buttons {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .sign-up-btn,
  .skip-btn {
    width: 80%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .landpage-heading {
    font-size: 2.2rem;
  }

  .landpage-image {
    max-width: 3.5rem;
    max-height: 3.5rem;
  }

  .design-images {
    gap: 8rem;
  }

  .design-image {
    width: 28rem;
  }

  .landPage-buttons {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .sign-up-btn,
  .skip-btn {
    width: auto;
    min-width: 12.5rem;
  }
}